header img{
    position:absolute;
    width: 100%;
    height: auto;
    background-size: cover;
}

nav li {
    list-style: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    white-space: nowrap;
    color: #FFFFFF;
}

.biography {
    position: absolute;
    width: 73px;
    height: 19px;
    left: 86px;
    top: 30px;
}

.publication_history {
    position: absolute;
    width: 140px;
    height: 19px;
    left: 202px;
    top: 30px;
}

.personality_and_themes {
    position: absolute;
    width: 170px;
    height: 19px;
    left: 386px;
    top: 30px;
}

.powers_skills_equipment {
    position: absolute;
    width: 219px;
    height: 19px;
    left: 600px;
    top: 30px;
}

.supporting_cast {
    position: absolute;
    width: 115px;
    height: 19px;
    left: 863px;
    top: 30px;
}

.biography_image {
    position: absolute;
    width: 512px;
    height: 664px;
    left: 127px;
    top: 871px;
}

.biography_title {
    position: absolute;
    width: 164px;
    height: 42px;
    left: 739px;
    top: 1015px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    color: #416FBF;
}

.biography_explain {
    position: absolute;
    width: 593px;
    height: 288px;
    left: 739px;
    top: 1103px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}

.publication_history img {
    position: absolute;
    width: 1435px;
    height: 767px;
    left: 5px;
    top: 1646px;
}

.publication_history h1 {
    position: absolute;
    width: 313px;
    height: 42px;
    left: 90px;
    top: 1826px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    background-color: #FFFFFF;
    color: #E40F29;
}