
.header_image_area {
    text-align: center;
    margin-top: -10px;
    position: relative;
}

nav {
    position: absolute;
    top: 20px;
    left: 10%;
}

header ul {
    display: flex;
    gap: 40px;
}

header li {
    list-style: none;
    flex-grow: 1;
    color: #FFFFFF;
    font-weight: 900;
    font-size: 18px;
    line-height: 21px;
}

.title_left_area {
    margin-left: 40px;
    margin-top: 85px;
}

.title_left_area h1 {
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
}

.explain_center_area {
   margin-left: 40px;
   margin-right: 35px;
   margin-top: 45px;
}

